.mainFlexer {
    display: flex;
    app-cards {
        width: 75%;
    }
    app-scoreboard {
        min-width: 338px;
        width: 25%;
    }
    @media all and (max-width: 1055px) {
        flex-direction: column-reverse;
        app-cards {
            width: 100%;
        }
        app-scoreboard {
            width: 100%;
        }
    }
}